<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<header>
    <nav id="navbar">
        <div id="logo">
            <a href="/">
                <img src="/images/Logo.png" alt="Gamer Fix Logo">
            </a>
        </div>
        <ul>
            <li><a href="/items">Browse</a></li>
            <% if (locals.user) { %>
                <li><a href="/new">Sell</a></li>
                <li><a href="/user/profile">My Account</a></li>
                <li><a href="/user/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/signUp">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>
