#item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    width: 80%;
    text-align: center;
}

.item img {
    max-width: 40%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin-left: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

#logo img {
    height: 70px;
    width: auto;
}
