html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin-left: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

#new-item-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#new-item-form h2 {
    text-align: center;
}

#new-item-form form {
    display: flex;
    flex-direction: column;
}

#new-item-form label {
    margin-top: 10px;
}

#new-item-form input[type="text"],
#new-item-form input[type="number"],
#new-item-form textarea,
#new-item-form input[type="file"] {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#new-item-form select {
    width: 98%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#new-item-form textarea {
    resize: vertical;
    min-height: 100px;
}

#new-item-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#new-item-form button:hover {
    background-color: #367c39;
}


#logo img {
    height: 70px;
    width: auto;
}