<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gamer Fix - Subscription Gamer Snack Box</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

    <%- include('partials/_header') %>

    <main>
        <section id="intro">
            <h2>Welcome to Gamer Fix!</h2>
            <p>Your shop for gaming equipment.</p>
        </section>

        <!-- Future Content -->
    </main>

    <%- include('partials/_footer') %>

</body>
</html>
