main {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

#navbar ul li {
    display: inline;
    margin-left: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    width: 80%;
    text-align: center;
}

.item-link {
    text-decoration: none;
}

.item img {
    max-width: 40%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.search-bar {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 170px;
    width: 80%;
}

.search-input {
    width: 80%;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.search-button {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-input:hover,
.search-input:focus {
    border-color: #888;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

#logo img {
    height: 70px;
    width: auto;
}

