html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

#login-form {
    max-width: 400px;
    margin: 40px auto;
    margin-top: 150px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-form h2 {
    text-align: center;
}

#login-form form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-top: 10px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#login-form button:hover {
    background-color: #367c39;
}
